<!DOCTYPE html>
<html lang="en">

<head>
    <% include partial/head %>
    <% include partial/header %>
</head>

<body>
    <form action="/admin/edits/<%= item.transactionId %>" method="post">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="servicetitle">Listing Title:
                    <span>*</span>
                </label>
                <input type="text" class="form-control" value="<%= item.servicetitle %>" name="servicetitle" id="servicetitle" aria-describedby="name"
                    placeholder="Listing Tile">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="serviceprice">Price:
                    <span>*</span>
                </label>
                <input type="number" required name="serviceprice" min="0.00" step=".01" class="form-control" id="serviceprice"
                    value="<%= item.serviceprice %>" aria-describedby="serviceprice" placeholder="$0.00">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="servicecategory">Category:
                    <span>*</span>
                </label>
                <br>
                <select name="servicecategory" value="<%= item.servicecategory %>" id="servicecategory" placeholder="Category">
                    <option value="Dog Grooming">Dog Grooming </option>
                    <option value="Dog Daycare">Dog Daycare </option>
                    <option value="Dog Boarding">Dog Boarding </option>
                    <option value="Cat Grooming">Cat Grooming </option>
                    <option value="Cat Daycare">Cat Daycare </option>
                    <option value="Cat Boarding">Cat Boarding </option>


                </select>
            </div>
        </div>
        <div class="col-lg-12">
            
                <label for="servicedescription">Service Description:
                    <span>*</span>
                </label>
                <textarea id="serivcedescription" value="<%= item.servicedescription %>" name="serivcedescription" rows="3" cols="40"
                    class="form-control" placeholder="Service Description" required=""><%= item.servicedescription %></textarea>
            </div>
        </div>
        <br>
        <div class="col-lg-4">
            <button type="submit" id="servicebutton" value="submit" class="btn subs_btn form-control">Update</button>

        </div>
    </form>

</body>

</html>