<!DOCTYPE html>
<html lang="en">

<head>
    <% include partial/head %>
</head>

<body>
    <% include partial/header %>

        <!--================Categories Banner Area =================
        <section class="solid_banner_area">
            <div class="container">
                <div class="solid_banner_inner">
                    <h3>error page</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="404.html">Error Page</a></li>
                    </ul>
                </div>
            </div>
        </section>
        ================End Categories Banner Area =================-->

        <!--================editform =================-->
        <br>
        <div class="container">
            <form action="/editServiceListing/<%= service.serviceid %>" method="post" enctype="multipart/form-data" id="serviceform">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            Current Image:
                            <img src="/service_img/<%= service.imageName %>" class="figure-img img-fluid img-rounded" id="itemImage" alt=" <%= service.imageName %>"
                                style="max-height: 200px;">

                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label for="serviceimage1">First Name <span>*</span></label> -->
                            <input type="file" id="imageName" name="imageName" required>
                        </div>
                    </div>

                    <!-- <div class ="col-lg-3">
                        <div class="form-group">
                                    <label for="serviceimage1">First Name <span>*</span></label>
                                    <input type="file" id="imageName2" name="imageName2">                
                        </div>
                </div>
    
                <div class ="col-lg-3">
                    <div class="form-group">
                                <label for="serviceimage1">First Name <span>*</span></label>
                                <input type="file" id="imageName3" name="imageName3">                
                    </div>
                </div>
    
                <div class ="col-lg-3">
                        <div class="form-group">
                                    <label for="serviceimage1">First Name <span>*</span></label>
                                    <input type="file" id="imageName4" name="imageName4">                
                        </div>
                </div> -->


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="servicetitle">Listing Title:
                                <span>*</span>
                            </label>
                            <input type="text" class="form-control" value="<%= service.servicetitle %>" name="servicetitle" id="servicetitle" aria-describedby="name"
                                placeholder="Listing Tile">
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="serviceprice">Price:
                                <span>*</span>
                            </label>
                            <input type="number" required name="serviceprice" min="0.00" value="0.00" step=".01" class="form-control" id="serviceprice"
                                value="<%= service.serviceprice %>" aria-describedby="serviceprice" placeholder="$0.00">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="servicecategory">Category:
                                <span>*</span>
                            </label>
                            <br>
                            <select name="servicecategory" value="<%= service.servicecategory %>" id="servicecategory" placeholder="Category">
                                <option value="Dog Grooming">Dog Grooming </option>
                                <option value="Dog Daycare">Dog Daycare </option>
                                <option value="Dog Boarding">Dog Boarding </option>
                                <option value="Cat Grooming">Cat Grooming </option>
                                <option value="Cat Daycare">Cat Daycare </option>
                                <option value="Cat Boarding">Cat Boarding </option>


                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="servicedescription">Service Description:
                                <span>*</span>
                            </label>
                            <textarea id="servicedescription" value="<%= service.servicedescription %>" name="servicedescription" rows="3" cols="40"
                                class="form-control" placeholder="Service Description" required=""><%= service.servicedescription %></textarea>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="servicepickup" name="servicepickup">PickUp Available?:
                                <span>*</span>
                            </label>
                            <br>

                            <input type="radio" id="servicepickup" name="servicepickup" value="Yes" <% if (service.servicepickup=="Yes" ) { %> checked
                            <% } %>
                                >
                                <label for="Yes">Yes</label>

                                <input type="radio" id="servicepickup" name="servicepickup" value="No" <% if (service.servicepickup=="No" ) { %> checked
                                <% } %>
                                    >
                                 <label for="No">No</label>

                        </div>
                    </div>

                    <br>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="servicelocation">Service Location:
                                <span>*</span>
                            </label>
                            <input type="text" value="<%= service.servicelocation %>" class="form-control" name="servicelocation" id="servicelocation"
                                aria-describedby="service-location" placeholder="Location">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" id="servicebutton" value="submit" class="btn subs_btn form-control">Update</button>

                    </div>
            </form>
            </div>

            <!--================end editform =================-->

            <!--================Footer Area =================-->
            <footer class="footer_area">
                <div class="container">
                    <div class="footer_widgets">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6">
                                <aside class="f_widget f_about_widget">
                                    <img src="img/logo.png" alt="">
                                    <p>Persuit is a Premium PSD Template. Best choice for your online store. Let purchase it
                                        to enjoy now</p>
                                    <h6>Social:</h6>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="social_facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="social_twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="social_pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="social_instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="social_youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6">
                                <aside class="f_widget link_widget f_info_widget">
                                    <div class="f_w_title">
                                        <h3>Information</h3>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">About us</a>
                                        </li>
                                        <li>
                                            <a href="#">Delivery information</a>
                                        </li>
                                        <li>
                                            <a href="#">Terms & Conditions</a>
                                        </li>
                                        <li>
                                            <a href="#">Help Center</a>
                                        </li>
                                        <li>
                                            <a href="#">Returns & Refunds</a>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6">
                                <aside class="f_widget link_widget f_service_widget">
                                    <div class="f_w_title">
                                        <h3>Customer Service</h3>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">My account</a>
                                        </li>
                                        <li>
                                            <a href="#">Ordr History</a>
                                        </li>
                                        <li>
                                            <a href="#">Wish List</a>
                                        </li>
                                        <li>
                                            <a href="#">Newsletter</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6">
                                <aside class="f_widget link_widget f_extra_widget">
                                    <div class="f_w_title">
                                        <h3>Extras</h3>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">Brands</a>
                                        </li>
                                        <li>
                                            <a href="#">Gift Vouchers</a>
                                        </li>
                                        <li>
                                            <a href="#">Affiliates</a>
                                        </li>
                                        <li>
                                            <a href="#">Specials</a>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6">
                                <aside class="f_widget link_widget f_account_widget">
                                    <div class="f_w_title">
                                        <h3>My Account</h3>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">My account</a>
                                        </li>
                                        <li>
                                            <a href="#">Order History</a>
                                        </li>
                                        <li>
                                            <a href="#">Wish List</a>
                                        </li>
                                        <li>
                                            <a href="#">Newsletter</a>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="footer_copyright">
                        <h5>©
                            <script>document.write(new Date().getFullYear());</script>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
                            <i class="fa fa-heart-o" aria-hidden="true"></i> by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </h5>
                    </div>
                </div>
            </footer>
            <!--================End Footer Area =================-->




            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="js/jquery-3.2.1.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <!-- Rev slider js -->
            <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
            <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
            <!-- Extra plugin css -->
            <script src="vendors/counterup/jquery.waypoints.min.js"></script>
            <script src="vendors/counterup/jquery.counterup.min.js"></script>
            <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
            <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
            <script src="vendors/image-dropdown/jquery.dd.min.js"></script>
            <script src="js/smoothscroll.js"></script>
            <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
            <script src="vendors/isotope/isotope.pkgd.min.js"></script>
            <script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
            <script src="vendors/vertical-slider/js/jQuery.verticalCarousel.js"></script>
            <script src="vendors/jquery-ui/jquery-ui.js"></script>

            <script src="js/theme.js"></script>
            <script>
                    function saveChanges() {
                        
                        var url = "/editServicelisting/:serviceid" + req.params.Itemid;
            
                        // alert(document.getElementById("image").files[0].name);
            
                        var serviceid = $(this).closest("div").data('id');
            
                        var newServiceValues = {
                            servicetitle: $("#servicetitle").val(),
                            serviceprice: $("#serviceprice").val(),
                            servicecategory: $("#servicecategory").val(),
                            servicedescription: $("#servicedescription").val(),
                            servicelocation: $("#servicelocation").val(),
                            servicepickup: $("servicepickup").val(),
                            imageName: document.getElementById("image").files[0].name,
                            // file: document.getElementById("image").files[0].name,
                        }
                        $.ajax({
                            url: url,
                            type: "POST",
                            data: JSON.stringify(newServiceValues),
                            dataType: "json",
                            contentType: "application/json",
                            success: function(result){
                                alert("Item details updated successfully");
                                location.href = "/servicelisted";
                            },
                            error: function(result){
                                alert("Error updating service details");
                                discardChanges();
                            }
                        })
                    }
            
                    function discardChanges() {
                        location.href = "/servicelisted"
                    }
                </script>
</body>

</html>