<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partial/head %>
    </head>
    <body>
        <% include partial/header %>
        
        <!--================Categories Banner Area =================-->
        <section class="solid_banner_area">
            <div class="container">
                <div class="solid_banner_inner">
                    <h3>Welcome, <strong><%= user.name%></strong></h3>
                </div>
            </div>
        </section>
        <!--================End Categories Banner Area =================-->
        
        <!--================End Categories Banner Area =================-->
        <div class="container">
        <h1>Profile</h1>
        <div class="datails" style="text-align: center">
            <div>
                <a class="btn btn-outline-primary" style="margin-bottom:6px;" href="/editprofile">Edit</a>
            </div>

            <div class="card text-xs-center" align="center">
                <br>
                <img class="card-img-top" src="<%= avatar %>" alt="Card image cap" style="width: 10%;">
                <div class="card-block">
                    <br>
                    <h3 class="card-title">User Details</h3>
                    <p class="card-text">
                        <strong>Name</strong>: <%= user.name %><br>
                        <strong>Email</strong>: <%= user.email %><br>
                        <strong>Phone</strong>: <%= user.phone %>
                    </p>
                </div>
            </div>
        </div>
    </div>
        </section>
        <!--================End Categories Banner Area =================-->
        
        <!--================Footer Area =================-->
        <% include partial/footer %>
        <!--================End Footer Area =================-->
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <!-- Extra plugin css -->
        <script src="vendors/counterup/jquery.waypoints.min.js"></script>
        <script src="vendors/counterup/jquery.counterup.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
        <script src="vendors/image-dropdown/jquery.dd.min.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
        <script src="vendors/vertical-slider/js/jQuery.verticalCarousel.js"></script>
        <script src="vendors/jquery-ui/jquery-ui.js"></script>
        
        <script src="js/theme.js"></script>
    </body>
</html>