<!DOCTYPE html>
<html lang="en">

<head>
    <% include partial/head %>
</head>
<style>
    .editBtn {
        background-color: black;
        color: white;
        border: 1px solid black;
        width: 100%;

    }

    .editBtn:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    #itemImage {
        position: relative;
        float: left;
        width: 250px;
        height: 250px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    #servicebutton {
        background-color: black;
        color: white;
        border: 1px solid black;
        width: 50%;
    }

    #servicebutton:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    #servicecategory {
        height: 37px;
        border: 1px solid #cccccc;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        padding: 0px 22px;
        width: 100%;
        font-size: 15px;
    }

    #servicepickup {
        background: transparent;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #333333;
        position: relative;
    }
</style>

<body>
    <% include partial/header %>

        <!--================Categories Banner Area =================-->
        <!-- <section class="solid_banner_area">
            <div class="container">
                <div class="solid_banner_inner">
                    <h3>error page</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="404.html">Error Page</a></li>
                    </ul>
                </div>
            </div>
        </section> -->
        <!--================End Categories Banner Area =================-->
        <!--service listing form-->
        <div class="container">

            <h4> My Service Listing</h4>
            <div class="row">
                <div class="col-lg-10">
                    <h4 class="text-muted">Services you have listed!</h4>
                </div>
                <div class="col-lg-2">
                    <button type="button" id="add-service">Add Service Listing</button>
                </div>
            </div>

            <br>
            <br>

            <!-- service listing form -->

            <form action="/servicelisted" method="post" enctype="multipart/form-data" id="serviceform">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <!-- <label for="serviceimage1">First Name <span>*</span></label> -->
                            <input type="file" id="imageName" name="imageName" required>
                        </div>
                    </div>

                    <!-- <div class ="col-lg-3">
                    <div class="form-group">
                                <label for="serviceimage1">First Name <span>*</span></label>
                                <input type="file" id="imageName2" name="imageName2">                
                    </div>
            </div>

            <div class ="col-lg-3">
                <div class="form-group">
                            <label for="serviceimage1">First Name <span>*</span></label>
                            <input type="file" id="imageName3" name="imageName3">                
                </div>
            </div>

            <div class ="col-lg-3">
                    <div class="form-group">
                                <label for="serviceimage1">First Name <span>*</span></label>
                                <input type="file" id="imageName4" name="imageName4">                
                    </div>
            </div> -->


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="servicetitle">Listing Title:
                                <span>*</span>
                            </label>
                            <input type="text" class="form-control" name="servicetitle" id="servicetitle" aria-describedby="name" placeholder="Listing Tile">
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="serviceprice">Price:
                                <span>*</span>
                            </label>
                            <input type="number" required name="serviceprice" min="0.00" value="0.00" step=".01" class="form-control" id="serviceprice"
                                aria-describedby="serviceprice" placeholder="$0.00">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="servicecategory">Category:
                                <span>*</span>
                            </label>
                            <br>
                            <select name="servicecategory" id="servicecategory" placeholder="Category">
                                <option value="Dog Grooming">Dog Grooming </option>
                                <option value="Dog Daycare">Dog Daycare </option>
                                <option value="Dog Boarding">Dog Boarding </option>
                                <option value="Cat Grooming">Cat Grooming </option>
                                <option value="Cat Daycare">Cat Daycare </option>
                                <option value="Cat Boarding">Cat Boarding </option>


                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="servicedescription">Service Description:
                                <span>*</span>
                            </label>
                            <textarea id="servicedescription" name="servicedescription" rows="3" cols="40" class="form-control" placeholder="Service Description"
                                required=""></textarea>
                        </div>
                    </div>


                    <br>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="servicelocation">Service Location:
                                <span>*</span>
                            </label>
                            <input type="text" class="form-control" name="servicelocation" id="servicelocation" aria-describedby="service-location" placeholder="Location">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" id="servicebutton" value="submit" class="btn subs_btn form-control">Submit</button>


                    </div>
            </form>
            </div>
        </div>
        <!-- </th>
   
    </tr>

</table> -->
        <!-- service listing show -->
        <div class="container">
            <hr>
            <div class="row">
                <% servicelist.forEach(function(servicelist){ %>
                    <div class="col-lg-4">
                        <figure class="figure">
                            <a href="/service/<%= servicelist.serviceid %>">
                                <img src="/service_img/<%= servicelist.imageName %>" id="itemImage" class="figure-img img-fluid img-rounded" alt=" <%= servicelist.imageName %>">
                            </a>
                            <h6>
                                <%= servicelist.servicetitle %>
                            </h6>
                            <figcaption class="figure-caption">S$
                                <%= servicelist.serviceprice %>
                            </figcaption>
                            <p>Uploaded:
                                <%= servicelist.createdAt %>
                            </p>
                            <div class="row">

                                <div class="col-lg-6">
                                    <form style="cursor:pointer;" action="/editServiceListing/<%= servicelist.serviceid %>" method="GET">
                                        <input type="submit" class="editBtn " value="Edit">
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                <form style="cursor:pointer;" action="/delServiceListing/<%= servicelist.serviceid %>" method="GET">
                                    <input type="submit" class="editBtn " value="Delete">
                                </form>
                            </div>
                        
                        </figure>


                    </div>
                <% }); %>
            </div>
        </div>
        </div>


        <% include partial/footer %>




            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="js/jquery-3.2.1.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <!-- Rev slider js -->
            <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
            <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
            <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
            <!-- Extra plugin css -->
            <script src="vendors/counterup/jquery.waypoints.min.js"></script>
            <script src="vendors/counterup/jquery.counterup.min.js"></script>
            <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
            <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
            <script src="vendors/image-dropdown/jquery.dd.min.js"></script>
            <script src="js/smoothscroll.js"></script>
            <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
            <script src="vendors/isotope/isotope.pkgd.min.js"></script>
            <script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
            <script src="vendors/vertical-slider/js/jQuery.verticalCarousel.js"></script>
            <script src="vendors/jquery-ui/jquery-ui.js"></script>

            <script src="js/theme.js"></script>
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script> 
                $(document).ready(function () {
                    $("#serviceform").hide();
                    $("#add-service").click(function () {
                        $("#serviceform").toggle();
                    });
                });
            </script>
</body>

</html>